server:
  port: 8081
spring:
  application:
    name: hn-core-service
  datasource:
    url: jdbc:postgresql://localhost:5432/hn_core_service
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        order_by:
          default_null_ordering: last
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

jwt:
  signer-key: ${SECRET_KEY}
  jwt-expiration: 3600000 #1 hour = 3600000ms
  refresh-expiration: 2592000000 #30 days = 2592000000ms
  issuer: hn-ecommerce